@config "../../tailwind.config.js";
@import "tailwindcss";

:root {
  --color-primary: #f2b70d;
  --color-secondary: #a12c34;
  --color-tertiary: #99a0a3;
}

@layer base {
  body {
    @apply text-base text-gray-600;
  }
}

a:hover {
  @apply underline decoration-2 underline-offset-4;
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
